body{
    margin: 0;
    padding: 0;
}
.navbar, .navbar2{
    position: sticky;
    top: 0;
}
.navbar ul{
    background-color: rgb(67, 67, 67);
    padding: 0px;
    margin: 0px;
}
.navbar2 ul {
    background-color: pink;
    padding: 0px;
    margin: 0px;
}
.navbar li, .navbar2 li{
    display: inline-block;
}

.navbar a{
    color: white;
    font-family: Arial;
text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar2 a{
    color:black;
    font-family: arial;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover, .navbar2 a:hover{
    background-color: rgb(171, 171, 171);
    cursor: pointer;
}
.aktiv {
    background-color: rgb(20, 20, 20);
    color: white;
}
.aktiv2 {
    background-color:white;
}
.grid-container {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}
.kolonne:after{
    content: "";
    display: table;
    clear: both;
}
footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(198, 198, 198);
}
.bunntekst li {
    display: inline-block;
    padding: 0px 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}


.matbilde{
   height: auto;
   width: 10vw;
}
.prototypbilde{
    height: auto;
    width: 40vw;
}
@media (max-width: 480px) {
    .matbilde {
        height: auto;
        width: 20vw;
    }
    .navbar a {
        padding: 25px;
    }
    .kolonne{
        width: 100%;
    }
}