* {
    box-sizing: border-box;
  }
  .navbar{
    position: sticky;
    top: 0;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    background-color: rgb(255, 240, 240);
}
p {
    line-height: 1.5;
}

.navbar a.aktiv {
    color: white;
    
}

.meny a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

@media (max-width: 700px) {
    .meny {
        display: flex;
        position: sticky;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        list-style-type: none;
        height: 200px;
        line-height: 1.6rem;
        margin-top: 30px;
        margin-left: 0px;
        padding-left: 0.1rem;
    }

    .meny-ikon {
        display: block;
        background-image: url(../Images/borgir.png);
        background-size: cover;
        position: absolute;
        height: 60px;
        width: 60px;
    }

    .hamburger-toggle-container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 40px;
        margin-left: 0px;
        cursor: pointer;
        justify-content: center;
        align-items: left;
    }

    #burger-toggle {
        display: none;
    }

    #burger-toggle + .hamburger-toggle-container {
        margin: 0px;
      }

    .meny > li {
        display: flex;
        overflow: hidden;
        background-color: pink;
    }

    #burger-toggle ~ .meny li { 
        height: 0px;
        margin: 0px;
    }

    #burger-toggle:checked ~ .meny li { 
        height: 1rem;
        margin: 0px;
        padding: 2rem;
        padding-right: 2rem;
    }
    
    .navbar {
        background-color: pink;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        width: auto;
        height: 40px;
        display: flex;
        position: relative;
        z-index: 1;
    }
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/P35.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .overskrift1 {
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 25px;
      }
      .ingress{
          color: white;
          text-align: center;
          padding: 20%;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;
      }
      footer{
        padding: 10px;
        text-align: center;
        background-color: rgb(249, 249, 118);
    }
    .bunntekst li {
        display: inline-block;
        padding: 0px 20px;
        text-align: center;
        font-family: arial;
        font-size: 12px;
    }
    .column{
        padding: 20px;
    }
    .bilder{
        height: auto;
        width: 80vw;
    
    }
    .biblotekbilder{
        height: auto;
        width: 80vw;
    }
    .matbilder{
        height: auto;
        width: 50vw;

    }
}

@media (min-width: 701px) {
    .meny {
        background-color:pink;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        color: rgb(43, 89, 128);
        margin-top: 0px;
    }

.navbar ul{
    background-color:pink;
    padding: 0px;
    margin: 0px;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    color: black;
    font-family: Arial;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
 
.navbar a:hover{
    background-color: white;
    cursor: pointer;
}
.aktiv {
    background-color:rgb(173, 33, 103);
    color: white;
}

    #burger-toggle { /* Wide screen: Hide the burger-image! */
        display: none;
      }
      footer{
        padding: 10px;
        text-align: center;
        background-color: rgb(249, 249, 118);
    }
    .bunntekst li {
        display: inline-block;
        padding: 0px 20px;
        text-align: center;
        font-family: arial;
        font-size: 17px;
    }

  /* Grid tatt fra https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive */
.column {
    float: left;
    width: 50%;
    padding: 20px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
 .skrift1{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
 } 
 .bilder{
    height: auto;
    width: 30vw;

}
.matbilder{
    height: auto;
    width: 15vw;
}
.biblotekbilder{
    height: auto;
    width: 30vw;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/P35.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}


.overskrift1 {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
.ingress{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.kantinene{
    color: black;
    font-size: 30px;
}
.innledning{
    color: rgb(60, 60, 60);
    font-size: 15px;
}
}
